<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>租售管理</h2>
    </div>

    <div class="cf">
        <button class="btn ajax-post confirm" url="{:U('changeStatus?method=deleteHuodong')}" target-form="ids">删 除</button>
        <!--<button class="btn list_sort" url="{:U('sort',array('cate_id'=>$cate_id,'pid'=>I('pid',0)),'')}">排序</button>-->
    </div>

    <div class="data-table table-striped">
        <table>
            <thead>
            <tr>
                <th class="row-selected">
                    <input class="checkbox check-all" type="checkbox">
                </th>
                <th>ID</th>
                <th>申请人</th>
                <th>活动名称</th>
                <th>活动描述</th>
                <th>结束时间</th>
                <th>申请时间</th>

                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <notempty name="list">
                <volist name="list" id="huodong">
                    <tr>
                        <td><input class="ids" type="checkbox" name="id[]" value="{$huodong.id}" /></td>
                        <td>{$huodong['id']}</td>
                        <td><a href="{:U('index?pid='.$house['id'])}">{$members[$huodong['member_id']]}</a></td>
                        <td>{$huodong.title}</td>
                        <td>{$huodong.detail}</td>
                        <td>{:date('Y-m-d',$huodong['deadline'])}</td>
                        <td>{:date('Y-m-d',$huodong['creat_time'])}</td>
                        <td>{$status[$huodong['status']]}</td>
                        <td>
                            <a title="编辑" href="{:U('edit?id='.$house['id'])}">编辑</a>
                            <a class="confirm ajax-get" title="删除" href="{:U('del?id='.$house['id'])}">删除</a>
                        </td>
                    </tr>
                </volist>
                <else/>
                <td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
            </notempty>
            </tbody>
        </table>
    </div>
    <div class="page">
        {$page}
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        $(function() {
            //点击排序
            $('.list_sort').click(function(){
                var url = $(this).attr('url');
                var ids = $('.ids:checked');
                var param = '';
                if(ids.length > 0){
                    var str = new Array();
                    ids.each(function(){
                        str.push($(this).val());
                    });
                    param = str.join(',');
                }

                if(url != undefined && url != ''){
                    window.location.href = url + '/ids/' + param;
                }
            });

            //批量删除
//            $('#del').click(function(){
//                //找到所有选中的数据
//                $('tr').each(function(){
//
//
//                });
//
//            });
        });
    </script>
</block>



